<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
	<title>OpenCoinTracking</title>
	<link rel='shortcut icon' href='/static/img/icon32.ico'/>
	<link rel='icon' sizes='16x16' href='/static/img/icon16.ico'/>
	<link rel='icon' sizes='32x32' href='/static/img/icon32.ico'/>
	<link rel='icon' sizes='64x64' href='/static/img/icon64.ico'/>
	<link rel='icon' type='image/png' sizes='196x196' href='/static/img/icon192.png'/>
	<link rel='icon' type='image/png' sizes='160x160' href='/static/img/icon160.png'/>
	<link rel='icon' type='image/png' sizes='96x96' href='/static/img/icon96.png'/>
	<link rel='icon' type='image/png' sizes='64x64' href='/static/img/icon64.png'/>
	<link rel='icon' type='image/png' sizes='32x32' href='/static/img/icon32.png'/>
	<link rel='icon' type='image/png' sizes='16x16' href='/static/img/icon16.png'/>
	<link rel='apple-touch-icon' href='/static/img/icon57.png'/>
	<link rel='apple-touch-icon' sizes='114x114' href='/static/img/favicon114.png'/>
	<link rel='apple-touch-icon' sizes='72x72' href='/static/img/favicon72.png'/>
	<link rel='apple-touch-icon' sizes='144x144' href='/static/img/favicon144.png'/>
	<link rel='apple-touch-icon' sizes='60x60' href='/static/img/favicon60.png'/>
	<link rel='apple-touch-icon' sizes='120x120' href='/static/img/favicon120.png'/>
	<link rel='apple-touch-icon' sizes='76x76' href='/static/img/favicon76.png'/>
	<link rel='apple-touch-icon' sizes='152x152' href='/static/img/favicon152.png'/>
	<link rel='apple-touch-icon' sizes='180x180' href='/static/img/favicon180.png'/>
	<meta name='msapplication-TileColor' content='#FF0000'/>
	<meta name='msapplication-TileImage' content='/static/img/icon144.png'/>
	<meta name='msapplication-config' content='/static/browserconfig.xml'/>
	<link href='/static/css/style.css' rel='stylesheet'/>
	<script type='text/javascript' src='/static/js/chart.js'></script>
	<script type='text/javascript' src='/static/js/script.js'></script>
    </head>
    <body>
	<div class='page'>
	    <div class='wrapper'>
		<div class='header'>
		    <div class='logout'>
			<a href='/dashboard'>{{ username }}</a> | <a href='/logout'>Logout</a>
		    </div>
		    <div class='left'>
			<img class='logo' src='/static/img/logo.png' alt='heyheyhey'/>
		    </div>
		    <div class='main-nav'>
			<ul>
			    <div class='dropdown'><a href='/dashboard'><button class='dropbtn'>Dashboard</button></a></div>
			    <div class='dropdown'><a href='/stats'><img src='/static/img/down.gif' alt='dropdown'/><button class='dropbtn'>Reporting</button></a>
				<ul id='submenu'>
				    <div class='dropdown-content'>
					<li class='menu-item'><a class='navlink' href='/stats'>Trade Statistics</a></li>
					<li class='menu-item'><a class='navlink' href='/trades'>Trade List</a></li>
					<li class='menu-item'><a class='navlink' href='/tradeprices'>Trade Prices</a></li>
					<li class='menu-item'><a class='navlink' href='/currentbalance'>Current Balance</a></li>
					<li class='menu-item'><a class='navlink' href='/balancebyday'>Daily Balance</a></li>
					<li class='menu-item'><a class='navlink' href='/balancebyexchange'>Balance by Exchange</a></li>
					<li class='menu-item'><a class='navlink' href='/balancebycurrency'>Balance by Currency</a></li>
					<li class='menu-item'><a class='navlink' href='/fees'>Trading Fees</a></li>
					<li class='menu-item'><a class='navlink' href='/doubleentry'>Double-Entry List</a></li>
					<li class='menu-item'><a class='navlink' href='/summary'>Summary</a></li>
					<li class='menu-item'><a class='navlink' href='/gains'>Realized &amp; Unrealized Gains</a></li>
					<li class='menu-item'><a class='navlink' href='/tradeanalysis'>Trade Analysis</a></li>
				    </div>
				</ul>
			    </div>
			    <div class='dropdown'><a href='/entercoins'><button class='dropbtn'>Enter Coins</button></a></div>
			    <div class='dropdown'><a href='/cointrends'><img src='/static/img/down.gif' alt='dropdown'/><button class='dropbtn'>Charts &amp; Trends</button></a>
				<ul id='submenu'>
				    <div class='dropdown-content'>
					<li class='menu-item'><a class='navlink' href='/cointrends'>Coin Trends</a></li>
					<li class='menu-item'><a class='navlink' href='/coincharts'>Coin Charts</a></li> 
					<li class='menu-item'><a class='navlink' href='/calculator'>Coin Price Calculator</a></li>
				    </div>
				</ul>
			    </div>
			    <div class='dropdown' style='float:right'><a href='/settings'><img src='/static/img/down.gif' alt='dropdown'/><button class='dropbtn'>Account</button></a>
				<ul id='submenu'>
				    <div class='dropdown-content'>
					<li class='menu-item'><a class='navlink' href='/settings'>Account Settings</a></li>
					<li class='menu-item'><a class='navlink' href='/logout'>Logout</a></li>
				    </div>
				</ul>
			    </div>
			</ul>
		    </div>
		</div>
		<div class='separator'>&nbsp;</div>
		<div class='contentbox_title'>{{ pagetitle }}</div>
		<div class='separator'>&nbsp;</div>
	    </div>
	    <div id='refresh'>
		<div class='contentbox_table'>
		    <div class='contentbox_cell'>
			<div style='margin-bottom:8px;'><span class='minilabel'>Total Value of all Coins:</span><div style='float:right;'><span title='24h trend' class='trendcomment {{ totalCoin24hClass }}'>{{ totalCoin24hTrend }}</span></div></div>
			<span class='somevalue'>{{ totalCoinValue }}&nbsp;{{ preferredCurrency }} </span><span class='somecomment'>({{ totalCoinBTCValue }}&nbsp;BTC)</span>
		    </div>
		    <div class='contentbox_cell_margin'></div>
		    <div class='contentbox_cell'>
			<div style='margin-bottom:8px;'><span class='minilabel'>Total FIAT Spent:</span><div style='float:right;'><span title='24h trend' class='trendcomment {{ totalFiat24hClass }}'>{{ totalFiat24hTrend }}</span></div></div>
			<span class='somevalue'>{{ totalFiatValue }}&nbsp;{{ preferredCurrency }} </span><span class='somecomment'>({{ totalFiatBTCValue }}&nbsp;BTC)</span>
		    </div>
		    <div class='contentbox_cell_margin'></div>
		    <div class='contentbox_cell'>
			<div style='margin-bottom:8px;'><span class='minilabel'>Total Account Value:</span><div style='float:right;'><span title='24h trend' class='trendcomment {{ totalAccountValue24hClass }}'>{{ totalAccountValue24hTrend }}</span></div></div>
			<span class='somevalue'>{{ totalAccountValue }}&nbsp;{{ preferredCurrency }} </span><span class='somecomment'>({{ totalAccountBTCValue }}&nbsp;BTC)</span>
		    </div>
		    <div class='contentbox_cell_margin'></div>
		    <div class='contentbox_cell'>
			<div style='margin-bottom:8px;'><span class='minilabel'>Bitcoin Price:</span><div style='float:right;'><span title='24h trend' class='trendcomment {{ bitcoin24hClass }}'>{{ bitcoin24hTrend }}</span></div></div>
			<span class='somevalue'>{{ bitcoinValue }}&nbsp;{{ preferredCurrency }} </span>
		    </div>
		</div>
		<div class='contentbox_table'>
		    <div class='contentbox_cell'>
			<div style='margin-bottom:8px;'><span class='minilabel'>First Trade:</span></div>
			<span class='somevalue'>{{ firstTradeDateString }}&nbsp;</span><span class='somecomment'>({{{ firstTradeDateComment }}})</span>
		    </div>
		    <div class='contentbox_cell_margin'></div>
		    <div class='contentbox_cell'>
			<div style='margin-bottom:8px;'><span class='minilabel'>Last Trade:</span></div>
			<span class='somevalue'>{{ lastTradeDateString }}&nbsp;</span><span class='somecomment'>({{{ lastTradeDateComment }}})</span>
		    </div>
		    <div class='contentbox_cell_margin'></div>
		    <div class='contentbox_cell'>
			<div style='margin-bottom:8px;'><span class='minilabel'>Total Trades:</span></div>
			<span class='somevalue'>{{ totalTradesString }}&nbsp;</span><span class='somecomment'>{{{ totalTradesComment }}}</span>
		    </div>
		    <div class='contentbox_cell_margin'></div>
		    <div class='contentbox_cell'>
			<div style='margin-bottom:8px;'><span class='minilabel'>Ethereum Price:</span><div style='float:right;'><span title='24h trend' class='trendcomment {{ ethereum24hClass }}'>{{ ethereum24hTrend }}</span></div></div>
			<span class='somevalue'>{{ ethereumValue }}&nbsp;{{ preferredCurrency }} </span>
		    </div>
		</div>
		<div class='contentbox_table'>
		    <div class='contentbox_leftcolumn'>
			<div class='contentbox_cell'>
			    <div style='width: auto; float: left;'><h2 class='cell-title'>Balance by Currency</h2></div>
			    <div style='width: auto; float: right;'>
				<select id='pick-currency-bbc' class='currencypicker' onChange='setDefaultCurrency("bbc");'>
{{#currencies}}
				    <option value='{{ id }}'{{ sfx }}>{{ tag }}</option>
{{/currencies}}
				</select>
				<select id='pick-graphsrc-bbc' class='currencypicker' onChange='setDefaultFilter("bbc");'>
{{#graphopts}}
				    <option value='{{ value }}'{{ sfx }}>{{ label }}</option>
{{/graphopts}}
				</select>
			    </div>
			    <div class='canvas'>
				<canvas class='canvas-graph' id='balance-by-currency'></canvas><br/>
			    </div>
			</div>
			<br/>
			<div class='contentbox_cell'>
			    <div style='width: auto; float: left;'><h2 class='cell-title'>Balance by Day</h2></div>
			    <div style='width: auto; float: right;'>
				<select id='pick-currency-bbd' class='currencypicker' onChange='setDefaultCurrency("bbd");'>
{{#currencies}}
				    <option value='{{ id }}'{{ sfx }}>{{ tag }}</option>
{{/currencies}}
				</select>
				<select id='pick-graphwatch-bbd' class='currencypicker' onChange='setDefaultWatch("bbd");'>
{{#graphwatch}}
				    <option value='{{ value }}'{{ sfx }}>{{ label }}</option>
{{/graphwatch}}
				</select>
			    </div>
			    <div class='canvas' style='position: relative; height: 450px; width: 100%;'>
				<canvas class='canvas-graph' id='balance-by-day'></canvas><br/>
			    </div>
			</div>
		    </div>
		    <div class='contentbox_cell_margin'></div>
		    <div class='rightcolumn' style='display: inline-block;'>
			<div class='contentbox_cell'>
			    <div style='width: auto; float: left;'><h2 class='cell-title'>Current Balance</h2></div>
			    <div style='width: auto; float: right;'>
				<select id='pick-currency-cb' class='currencypicker' onChange='setDefaultCurrency("cb");'>
{{#currencies}}
				    <option value='{{ id }}'{{ sfx }}>{{ tag }}</option>
{{/currencies}}
				</select>
				<select id='pick-graphitv-cb' class='currencypicker' onChange='setDefaultTrendItv("cb");'>
{{#graphitv}}
				    <option value='{{ value }}'{{ sfx }}>{{ value }} Trend</option>
{{/graphitv}}
				</select>
			    </div>
			    <div class='canvas'>
				<table class='balances' cellspacing='0'>
				    <thead class='balances-header'>
					<tr>
					    <th class='balances-body' colspan='2'>Currency</th>
					    <th class='balances-body'>Amount</th>
					    <th class='balances-body'>Value in {{ preferredCurrency }}</th>
					    <th class='balances-body'>Price in {{ preferredCurrency }}</th>
					    <th class='balances-body'>Trend {{ preferredTrendInterval }}</th>
					</tr>
				    </thead>
				    <tbody class='balances-body'>
{{#balances}}
					<tr class='{{ color }}'>
					    <td class='balances-body' width='15px' style='width: 15px;'><img class='curlogo' src='/static/img/currency-{{ curname }}.png'></td>
					    <td class='balances-body' width='15px' style='width: 15px;'>{{ curname }}</td>
					    <td class='balances-body'>{{ curheld }}</td>
					    <td class='balances-body {{ color }}date'>{{ curvalue }}</td>
					    <td class='balances-body'>{{ curprice }}</td>
					    <td class='balances-body {{ trendcolor }}'>{{ curtrend }}</td>
					</tr>
{{/balances}}
				    </tbody>
				</table>
				<br/>
			    </div>
			</div>
			<br/>
			<div class='contentbox_cell'>
			    <div style='width: auto; float: left;'><h2 class='cell-title'>Balance By Exchange</h2></div>
			    <div style='width: auto; float: right;'>
				<select id='pick-currency-bbe' class='currencypicker' onChange='setDefaultCurrency("bbe");'>
{{#currencies}}
				    <option value='{{ id }}'{{ sfx }}>{{ tag }}</option>
{{/currencies}}
				</select>
			    </div>
			    <div class='canvas'>
				<canvas class='canvas-graph' id='balance-by-exchange'></canvas><br/>
			    </div>
			    <script type='text/javascript'>
				var ctxbbc = document.getElementById('balance-by-currency').getContext('2d');
				var ctxbbd = document.getElementById('balance-by-day').getContext('2d');
				var ctxbbe = document.getElementById('balance-by-exchange').getContext('2d');
				var bbcchart = new Chart(ctxbbc, {
					type: 'bar',
					data: {
						labels: [
{{#balances}}
							'{{ curname }}',
{{/balances}}
						    ],
						datasets: [{
							label: 'Value in {{ preferredCurrency }}',
							data: [
{{#balances}}
								{{ intvalue }},
{{/balances}}
							    ],
							backgroundColor: [
{{#balances}}
								'{{ bodycolor }}',
{{/balances}}
							    ],
							borderColor: [
{{#balances}}
								'{{ bordercolor }}',
{{/balances}}
							    ],
							borderWidth: 1
						    }]
					    },
					options: { scales: { yAxes: [{ ticks: { beginAtZero:true } }] } }
				    });
				var bbdchart = new Chart(ctxbbd, {
					type: 'line',
					data: {
						datasets: [{
						    label: 'Coins Value',
						    data: [
{{#timebalance}}
							    { t: new Date({{ at }}), y: {{ value }} },
{{/timebalance}}
							],
						    backgroundColor: 'rgba(255, 99, 132, 0.2)',
						    cubicInterpolationMode: 'monotone',
						    pointColor: 'rgba(255, 99, 132, 0.2)',
						    pointBorderColor: 'rgba(255, 99, 132, 1)',
						    pointRadius: 0,
						    pointHoverRadius: 3,
						    fill: 'origin',
						}, {
						    label: 'ROI',
						    data: [
{{#timebalance}}
							    { t: new Date({{ at }}), y: {{ roi }} },
{{/timebalance}}
							],
						    backgroundColor: 'rgba(54, 162, 235, 0.2)',
						    cubicInterpolationMode: 'monotone',
						    pointColor: 'rgba(54, 162, 235, 0.2)',
						    pointBorderColor: 'rgba(54, 162, 235, 1)',
						    pointRadius: 0,
						    pointHoverRadius: 3,
						    fill: 'origin',
						}, {
						    label: 'Spent',
						    data: [
{{#timebalance}}
								{ t: new Date({{ at }}), y: {{ spent }} },
{{/timebalance}}
							],
						    backgroundColor: 'rgba(255, 206, 86, 0.2)',
						    cubicInterpolationMode: 'monotone',
						    pointColor: 'rgba(255, 206, 86, 0.2)',
						    pointBorderColor: 'rgba(255, 206, 86, 1)',
						    pointRadius: 0,
						    pointHoverRadius: 3,
						    fill: 'origin',
						}]
					    },
					    options: {
						maintainAspectRatio: false,
						responsive: true,
						scales: {
						    xAxes: [{ type: 'time', distribution: 'series' }]
						}
					    }
				    });
				var bbechart = new Chart(ctxbbe, {
					type: 'pie',
					data: {
						labels: [
{{#exchanges}}
							'{{ wallet }}',
{{/exchanges}}
						    ],
						datasets: [{
							label: 'Value in {{ preferredCurrency }}',
							data: [
{{#exchanges}}
								{{ intvalue }},
{{/exchanges}}
							    ],
							backgroundColor: [
{{#exchanges}}
								'{{ bodycolor }}',
{{/exchanges}}
							    ],
							borderColor: [
{{#exchanges}}
								'{{ bordercolor }}',
{{/exchanges}}
							    ],
							borderWidth: 1
						    }]
					    }
				    });
			    </script>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div style='width:100%; clear: both; background-color:#283f5e; margin-top: 60px;'>
	    <div class='footer' style='background-color:#283f5e; color:#FFF; font-size:14px; line-height:20px; padding-top:20px;'>
		<div style='width:100%; background-color:#1f2735; color:#aab2bc; text-align:center; padding:12px 0;'>
		    Sloppily reversed-engineered with <span style='color:#C30 !important;'>&#x2764;</span> in Paris &middot; Copyleft &copy; 2017-2018, OpenCoinTracking
		</div>
	    </div>
	</div>
    </body>
</html>
